atSmall()
    @media (min-width: $smartphone-size)
        {block}

atMedium()
    @media (min-width: $tablet-size)
        {block}


atLarge()
    @media (min-width: $desktop-large-size)
        {block}

atCustom()
    @media (min-width: $custom-size)
        {block}

atSmallCustom()
    @media (min-width: $small-custom-size)
        {block}



