/* Responsividade */
$smartphone-size = 480px
$tablet-size = 768px
$desktop-size = 1000px
$desktop-large-size = 1200px
$custom-size = 1100px
$small-custom-size = 550px

/* Cores */
$green = #649b4e
$black = #000000
$bg1 = #021a2b
$bg2 = #04244d

$lightest_grey = #fafafa
$l_grey = #f2f2f2
$lighter_grey = #e9ecef
$light_grey = #d7dbe0
$dark_grey = #6b6b6b
$darker_grey = #565656

