.hero {

    margin-top remify(50px)
    margin-bottom remify(0px)
    background-color $bg1

    .container {

        display flex
        flex-direction column
        justify-content center
        align-items flex-start
        align-items center
        text-align center

        h1 {
            padding:0;
            margin:0;
            margin-top: remify(30px)
            set-font-size(30px)
            font-family "Della Respira", sans-serif
        }

        h2 {
            padding: 0;
            margin: 0;
            margin-bottom: remify(30px)
            margin-top: remify(10px)
            set-font-size(20px)
        }

    }
}
