main {
    background-color $bg1

    p {
        line-height 2
    }

    section {
        padding-top remify(50px)
        padding-bottom remify(60px)
    }

    .trabalho-realizado {
        padding-top remify(50px)
        padding-bottom remify(50px)
    }

    h3 {
        set-font-size(40px)
    }

    h4 {
        set-font-size(30px)
    }

    ul.galeria {
        list-style-type: none
        padding 0
        margin 0

        li {
            padding 0
            margin remify(10px)
            display: inline

            a {
                margin 0
                padding 0
            }
        }
    }

    ul.descricao {
        margin-top remify(60px)
        set-font-size(25px)

        a {
            color white
        }
    }

    .bt_acesso {
        background-color white
        padding remify(10px) remify(20px)
        set-font-size(18px)
        border 0
        cursor pointer
    }

    article {
        h4 {
            cursor pointer
        }

        .content {
            display none
        }
    }

    .link-button {
        margin remify(30px) 0
        display block
    }

}
